.link-list{
    list-style: none;
    padding-left:0;
    border-bottom: solid 3px $list-border-color;
    .link-wrap{
      text-decoration:none;
    }
}
.link-list-item{
  border: solid 1px $list-border-color;
  border-bottom-width: 0;
  padding: 10px;
  position:relative;
  @include respond-to("small-medium-screens"){
    padding-right:25px;
    .glyphicon-chevron-right{
        position: absolute;
        top: 50%;
        margin-top: - ($icon-height)/2;
        right: 15px;
    }
  }
}
.item-details{
    display: inline-block;
    margin-bottom: 0;
    .item-desc{
      display: inline;
    }
    .item-key{
      margin-right: 5px;
    }
}

