.main {
	.remove-filter-icon{
		left: 3px;
  		top: 3px;
	}
	.filter-remove-btn{
		margin-right:5px;
	}
	.filters{
		margin-bottom: 10px;
	}
	.results-badge{
		background-color:$results-badge-bg-color;
	}
	@media only screen and (min-width: $break-small + 30) {
		.results-count-container{
			position:absolute;
			bottom:0;
			right:15px;
			margin:0;
		}
	}
	.search-and-results{
		position:relative;
	}
}